h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.container {
  padding-left: 19px;
  padding-right: 19px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  margin: 0;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__link {
  padding-top: 52px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
}

.nav__link--current {
  color: #D41443;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  background-color: #FFB8CA;
}

.btn {
  padding-left: 37px;
  width: 159px;
  height: 44px;
  text-transform: uppercase;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #D41443;
  background-color: #FFFFFF;
  border-radius: 22px;
  text-decoration: none;
  cursor: pointer;
}

.hero-title {
  margin-top: 60px;
  font-family: "Titan One";
  font-weight: 400;
  font-size: 38px;
  line-height: 44px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.hero-title__secondary {
  font-weight: 400;
  font-size: 58px;
  line-height: 90.5%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #D41443;
}

.hero__item {
  margin-top: 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 107px;
  height: 40px;
  border-radius: 20%;
  color: #FFFFFF;
  background-color: #D41443;
}

.hero__item:hover,
.hero__item:focus {
  color: #D41443;
  background-color: #FFFFFF;
}

.hero__item--secondary {
  color: #D41443;
  background-color: #FFFFFF;
  width: 138px;
  height: 40px;
}

.hero__item--secondary:hover,
.hero__item--secondary:focus {
  color: #D41443;
  background-color: #ECEBEB;
}

.hero__item:not(:last-child) {
  margin-right: 12px;
}

.hero__uppertitle {
  font-family: "DM Sans";
  width: 200px;
  height: 78px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}

.hero-benefits__amount {
  font-weight: 400;
  font-size: 46px;
  line-height: 53px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #D41443;
}

.hero-benefits__descr {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
}/*# sourceMappingURL=main.css.map */